body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(73, 73, 238);
    height:60px;
}
header .navigation-Bar{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
}
header .navigation-Bar .logo{
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
}
header .navigation-Bar .logo img{
    width: 80px;
}
header .search-menu{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
header .search-menu .search-cont{
    width: 600px;
    height: 30px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 2px 4px (0 0 0 /25%);
    display: flex;
}
header .search-menu .search-cont input{
    width:calc(100% - 32px);
    padding: 15px;
    border: none;
    outline:none;
}

header .search-menu .search-cont button{
    width:35px;
    height:100%;
    padding: 0px 8px;
    display: flex;
    background-color: white;
    border-radius: 1px 2px ;
    justify-content: center;
    align-items: center;
    border: none;
}
header .login{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
header .login button{
    padding: 5px;
    font-size: 15px;
    width: 100px;
    color:blue;
    background-color: white;
    font-weight: bold;
}
header .become-seller{
    margin-left: 20px;
    color:white;
    height:100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
header .more{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin:0 20px;
}
header .more svg{
    margin-left: 6px;
    rotate: -90deg;
}
header .cart{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin:0 20px;
}
header .cart svg{
    margin-right:10px;
}

@media screen and (max-width:450px) {
    header .navigation-Bar{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        height: 100%;
        margin: 0px;

    }
    header .navigation-Bar .logo{
        display: flex;
        float: left;
        justify-content: flex-end;
    }
    header .navigation-Bar .logo img{
        margin:0;
        float: left;
        width: 50px;
    }
    header .search-menu{
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 2px;
    }
    header .search-menu .search-cont{
        width:110px;
        height: 30px;
        background-color: white;
        border-radius: 1px;
        box-shadow: 0 2px 4px (0 0 0 /25%);
        display: flex;
    }
    header .search-menu .search-cont input{
        width:calc(100% - 32px);
        padding: 12px;
        border: none;
        outline:none;
    }
    
    header .search-menu .search-cont button{
        width:30px;
        height:100%;
        padding: 0px 8px;
        display: flex;
        background-color: white;
        border-radius: 1px 2px ;
        justify-content: center;
        align-items: center;
        border: none;
    }
    header .login{
        height: 100%;
        display: flex;
        align-items: center;
        margin-left:6px;
    
    }
    header .login button{
        padding: 3px;
        font-size: 13px;
        width: 60px;
        color:blue;
        background-color: white;
        font-weight: bold;
    }
    header .become-seller{
        margin-left: 8px;
        color:white;
        height:100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }
    header .more{
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color:white;
        margin:0 10px;
    }
    header .more svg{
        margin-left: 3px;
        rotate: -90deg;
    }
    header .cart{
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color:white;
        margin:0 8px;
    }
    header .cart svg{
        margin-right:2px;
    }
    .section-1-image{
        height: 100%;
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        font-size: 10px;
    }
    .section-1-image img{
        width:30px;
        height:30px;
    }
    .section-2 container{
        width:100%;
    }
    .section-6 img{
        width:300px;
        height:350px;
    }
}